/* Tipografía */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Tajawal&display=swap");

/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #000000;
  --secundario: #71ff5e;
  --terceario: #fff066;
  --cuaternario: #ac85ff;

  /* Tipografía */
  --font-family-body: serif;
  --font-family-headings: sans-serif;
}
/****************************************
*    Base
*****************************************/
html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7f4d8;
}

h1 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 22px;
  font-family: "Tajawal", sans-serif;
  color: var(--cuaternario);
}

h3 {
  font-size: 64px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--secundario);
}

/****************************************
*    Temp
*****************************************/
/* TODO: Ejercicio aplicar estilos de figma a cajas */

/****************************************
*    Componentes
*****************************************/

/****************************************
*    Helpers
*****************************************/
[dots] {
  outline: rgba(255, 0, 0, 0.75) dotted 2px;
}
