/* Tipografía */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Tajawal&display=swap"); /****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #000000;
  --primario2: #424242;
  --primario3: #929292;
  --primario4: #f5f5f5;
  --secundario: #71ff5e;
  --secundario2: #abffa9;
  --secundario3: #dcffdb;
  --secundario4: #f0f7f0;
  --terceario: #fff066;
  --terceario2: #fcf191;
  --terceario3: #f9f3bc;
  --terceario4: #f7f4d8;
  --cuaternario: #ac85ff;
  --cuaternario2: #d0bdfa;
  --cuaternario3: #d0bdfa;
  --cuaternario4: #e4dbfa; /* Tipografía */
  --font-family: "Montserrat", sans-serif;
  --font-family-headings: "Tajawal";
}

/****************************************
*    Base
*****************************************/
body {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headings);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

a {
  text-decoration: none;
  transition: var(--transicion);
}

a:hover {
  color: var(--primario3);
}

ul li {
  list-style-type: none;
}

/****************************************
*    Componentes
*****************************************/
.layout {
  display: flex;
}

.header {
  flex: 0 0 80px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nombre {
  margin: 40px 0;
}

.header__nombre h1 {
  font-size: 18px;
  transform: rotate(270deg);
}

.menu {
  height: 100%;
  display: flex;
  gap: 1.5rem;
  writing-mode: vertical-lr;
}

.menu li:first-of-type {
  margin-top: 0.5rem;
}

.menu li {
  transform: rotate(180deg);
}

.menu li a {
  color: var(--primario4);
}

.menu li a:hover {
  color: var(--primario3);
}

.menu li img {
  max-width: 22px;
  max-height: 17px;
  transform: rotate(180deg);
}

.menu a img:hover {
  opacity: 0.7;
}

.main {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  width: min(1000px, 86%);
  grid-row-gap: 60px;
  place-items: center;
  margin: 0 auto;
  padding: 40px 0;
}

.proyecto {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 0 16px;
}

.proyecto__header {
  display: flex;
  justify-content: space-between;
  --font-family-headings: "Montserrat";
}

.proyecto__header > * {
  font-size: 18px;
  font-weight: normal;
}

.proyecto__imagen {
  margin: auto;
}

picture > img {
  max-width: 440px;
}

.proyecto__date {
  margin: 0;
  padding: 0.25rem 0;
}

/* Contacto */
.menu-contacto {
  position: absolute;
  bottom: 0;
  padding: 3rem;
}

.menu-contacto__item {
  padding: 0 40px;
}

.menu-contacto__item > * {
  color: white;
  font-size: 40px;
}

.texto_contacto {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
}

/* Proyecto individual */
.proyecto-individual {
  position: relative;
  display: flex;
  gap: 80px;
  width: 100vw;
  height: auto;
}

.info-proyectos {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
}

.info-proyectos h2 {
  font-size: 35px;
  font-family: var(--font-family);
}

.imagenes-proyecto {
  border: none;
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
}

.imagenes-proyecto:last-of-type {
  margin-bottom: 6rem;
}

.imagenes-proyecto img {
  margin: auto;
}
/* .imagenes-proyecto > * {
  margin: 20px 0;
} */

.imagenes-proyecto figcaption {
  /* color: blue; */
  width: 50vw;
  font-size: 1.1rem;
}

.proyecto-individual footer {
  position: absolute;
  left: 50%;
  max-width: 100%;
  transform: translateX(-50% -50%);
  bottom: 20px;
}

.proyecto-individual button {
  border: 0;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
  transition: var(--transicion);
}

.proyecto-individual button:focus {
  outline: none;
  outline-offset: none;
}

.proyecto-individual button:hover {
  opacity: 0.7;
}

.proyecto-individual button + button {
  margin-left: 6rem;
}

/* About */
.about {
  position: absolute;
  width: 100%;
  max-width: 400px;
  height: 310px;
  left: 80px;
  top: 0;
  padding: 1rem;
  background: #000;
  animation: aboutanimacion 1000ms cubic-bezier(0.4, 0, 1, 1) 100ms 1 normal
    both running;
}

@keyframes aboutanimacion {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.about p {
  font-size: 25px;
  color: var(--secundario);
}
.about a {
  font-size: 15px;
  color: var(--primario);
}

@media screen and (max-width: 500px) {
  .proyecto {
    transform: translateX(-2.5rem);
  }
  .proyecto__imagen img {
    max-width: 240px;
    margin: auto;
  }
}
