/* Tipografía */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Tajawal&display=swap");

/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #000000;
  --primario2: #424242;
  --primario3: #929292;
  --primario4: #f5f5f5;
  --secundario: #71ff5e;
  --secundario2: #abffa9;
  --secundario3: #dcffdb;
  --secundario4: #f0f7f0;
  --terceario: #fff066;
  --terceario2: #fcf191;
  --terceario3: #f9f3bc;
  --terceario4: #f7f4d8;
  --cuaternario: #ac85ff;
  --cuaternario2: #d0bdfa;
  --cuaternario3: #d0bdfa;
  --cuaternario4: #e4dbfa;

  /* Tipografía */
  --font-family-body: serif;
  --font-family-headings: sans-serif;
}
/****************************************
*    Base
*****************************************/
html {
  html {
    box-sizing: border-box;
    height: 100%;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 11fr;
}

h1 {
  font-size: 18px;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/****************************************
*    Temp
*****************************************/
/* TODO: Ejercicio aplicar estilos de figma a cajas */

/****************************************
*    Componentes
*****************************************/

h1 {
  transform: rotate(270deg);
  margin: 10px 0px 70px -10px;
  padding: 0 30px 0px 0;
}

li {
  display: block; /* para quitar puntitos de la lista*/
  color: #000000;
  margin: 10px 0px 80px -40px;
  transform: rotate(270deg);
}

li a {
  color: #000000;
  text-decoration: none;
  padding: 0 30px 0px 0;
}

/****************************************
*    Helpers
*****************************************/
